html {
    box-sizing: border-box;
    
  }
  body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  %title {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
  }

  .link {
    display: inline-block;
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .link:hover,
  .link:focus {
    color: var(--color-accent);
  }

  .card {
    margin-top: 50px;
  }

  .card .text {
    margin-top: 10px;
  }